@import '../../theme/colors';

@mixin auth($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);


  .sidenav {
    background: #506FE4;
    overflow: hidden;
    position: relative;
    width: 250px;
    font-weight: 500;
    border-radius: 4px;
  }

  .drawer {
    background: mat-color($primary, 400);
    overflow: hidden;
    position: relative;
    width: 0px;
  }

  [no-over-flow] {
    overflow: hidden;
  }

  .router-outlet {
    position: relative;
    padding: 0px 5px;
  }

  .spacer {
    width: 100%;
  }

  .logo {
    font-size: 22px;
    color: $c-white;
    margin-top: 8px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
}