$empty: 0;
$auto: auto;

// margin & padding
$m-0: $empty;
$p-0: $empty;
$mt-0: $empty;
$mr-0: $empty;
$mb-0: $empty;
$mr-0: $empty;
$pt-0: $empty;
$pr-0: $empty;
$pt-0: $empty;
$pr-0: $empty;

// fonts - even
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;

// colors

$c-white: #ffffff;
$c-black: #000000;
$c-CBD2D8: #CBD2D8;
$c-f2f2f2: #f2f2f2;
$transparent: transparent;
$c-BCC6C5: #BCC6C5;
$c-1D334B: #1D334B;
$c-999999: #999999;
$c-506FE4: #506FE4;
$c-333333: #333333;
$c-0F77AA:#0F77AA;
$red: red;
$c-323232: #323232;

// align-items

$f-right: right;
$f-left: left;
$t-left: left;
$t-right: right;
$t-center: center;
$pos-rel: relative;
$pos-abs: absolute;

// size
$hundred: 100%;
