@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700,900&subset=japanese');
@include mat-core();

$custom-typography: mat-typography-config($font-family: 'Noto Sans JP, sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 300),
  $display-2: mat-typography-level(45px, 48px, 300),
  $display-1: mat-typography-level(34px, 40px, 300),
  $headline: mat-typography-level(14px, 32px, 300),
  $title: mat-typography-level(20px, 32px, 300),
  $subheading-2: mat-typography-level(22px, 28px, 300),
  $subheading-1: mat-typography-level(15px, 24px, 300),
  $body-2: mat-typography-level(14px, 24px, 300),
  $body-1: mat-typography-level(14px, 20px, 300),
  $caption: mat-typography-level(12px, 20px, 300),
  $button: mat-typography-level(14px, 14px, 300),
  $input: mat-typography-level(16px, 1.125, 300));

// body [class^='mat-'],
// body [class*=' mat-'] {
//   font-family: "Noto Sans JP", sans-serif !important;
// }

.mat-form-field-underline,
.mat-form-field-subscript-wrapper {
  display: none !important;
}
